<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RayTest" connectionString="Data Source=localhost;Initial Catalog=AndroidEMR;Persist Security Info=True;User ID=sa;Password=123"/>
    <add name="ASPStateConnectionString" connectionString="Data Source=localhost;Initial Catalog=ASPState;Persist Security Info=True;User ID=SessionStateUser;Password=12345678"/>
    <add name="FengShenDB" connectionString="MRzWjW0DLvPpc/g8G9gzvqQXvaDgzn+qzTYEDI9hPze+R2WvW+mkg7yDA9cbq7ukCwDUl0IUuMq/dqyIenEDtusuwI+/24YvAC2D6HeCFtVxYKNRzBXwsOiWMH+9qeawstLAaRo7Nnk="/>
    <add name="SysDataBaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SysDataBase.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    </connectionStrings>
</configuration>